.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: aliceblue;
    font-size: 25px;
}

.header-searchIcon{
    padding: 5px;
    height: 22px;
    background-color: #cd9042;
}

.header-search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.search-input{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header-nav{
    display: flex;
    justify-content: space-evenly;
}

.header-opt{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.opt-lineOne{
    font-size: 10px;
}

.opt-lineTwo{
    font-size: 13px;
    font-weight: 800;
}

.basketOption{
    display: flex;
    align-items: center;
    color: white;
}

.basketCount{
    margin-left: 10px;
    margin-right: 10px;
}